body {
    font-family: 'Oswald', sans-serif;
    background: black;
    color: white;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    border: solid 1px #F0E68C;
    width: 300px;
}

h1 {
    color: red;
}